.table-container {
  width: 730px;
  border-radius: 10px;
  border: 1px solid #FFF;
  background: linear-gradient(123deg, rgba(218, 210, 210, 0.34) -7.53%, rgba(0, 0, 0, 0.00) 89.43%);
}

.table-wrapper {
  border-radius: 5px;
  overflow: hidden;
	display: flex;
	flex-direction: column;
}

.table-header {
  background-color: #f5f5f5;
  padding: 11px 40px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.table-content {
  padding: 11px 30px 0 40px;
}

.blocks-table {
  width: 100%;
  border-collapse: collapse;
}

.blocks-table th,
.blocks-table td {
  padding: 8px;
  text-align: left;
}

.blocks-table th {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.blocks-table td {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.blocks-table td a {
  color: #838DFB;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.blocks-table tr:last-child td {
  border-bottom: none;
}

.blocks-row {
  display: flex;
  justify-content: space-between;
}

.view-all {
  text-align: right;
  padding: 10px;
}

.view-all button {
  padding: 5px 10px;
  cursor: pointer;
}

.block-number{
	display: flex;
	flex-direction: row;
	gap: 10px;
	.block-number-text{
		color: #E3D7EC !important;
	}
}

.view-all{
	cursor: pointer;
	transition: all 0.3s ease;
	color: #FFF;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	display: flex;
	width: 133px;
	height: 14px;
	padding: 10px 14px;
	justify-content: center;
	align-items: center;
	border-radius: 14px;
	border: 1px solid #FFF;
	margin-bottom: 36px;
	margin-top: 24px;
	margin-right: 30px;
	align-self: flex-end;
}

.view-all:hover {
	background: linear-gradient(123deg, rgba(218, 210, 210, 0.2) -7.53%, rgba(0, 0, 0, 0.2) 89.43%);
	border-color: rgba(255, 255, 255, 0.5);
}

.commissionTime{
	color: #E3D7EC !important;	
}

